.transition1
          {
          background-color: #ffe3e3;
          width:160px;
          transition: 1s;
          border-radius: 80px;
          padding: 10px;
          text-align: center;
          color: #fffcde;
          margin-top: 5px;
          transition: 1s;
          }
          :root {
            --duet-color-primary: #005fcc;
            --duet-color-text: #333;
            --duet-color-text-active: #fff;
            --duet-color-placeholder: #666;
            --duet-color-button: #f5f5f5;
            --duet-color-surface: #fff;
            --duet-color-overlay: rgba(0, 0, 0, 0.8);
            --duet-color-border: #333;
            margin-left: 200px;
            width: 100px;

          
            --duet-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            --duet-font-normal: 400;
            --duet-font-bold: 600;
          
            --duet-radius: 4px;
            --duet-z-index: 600;
          }
    
      nav
          {
          position: relative;
          top: 0;
          background-color: beige;
          } 
      .transition1:hover
          {
          margin-left: 5px;
          }
      a
          {
          text-decoration: none;
          color: black;
          }
      ul
          {
          list-style-type: none;
          overflow: hidden;
          margin: 0;
          padding: 0;
          }
      .menu
          {
          float: left;
          font-size: 19px;
          padding-left: 140px;
          padding-right: 106px;
          padding-left: 139px;
          padding-right: 107px;
          padding-top: 14px;
          padding-bottom: 14px;
          display: block;
          transition: 1s;
          text-decoration: none;
          }
      .menu2
          {
          float: left;
          font-size: 19px;
          padding-left: 153.4px;
          padding-right: 107px;
          padding-top: 14px;
          padding-bottom: 14px;
          display: block;
          transition: 1s;
          text-decoration: none;
          }
          
      .menu:hover
      {
        opacity: 0.5;
        background-color:lightblue;
        transition: 1s;
      }
      .menu2:hover
      {
        opacity: 0.5;
        background-color: lightblue;
        transition: 1s;
      }

  /* Footer */
  .footer-basic {
    background-color:#ffffff;
    color:#4b4c4d;
  }
  footer{
    background-color:beige;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:1px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
.footer-basic
{
  position: absolute;
  width: 100%;
  padding-top: 500px;
  padding-left: 0px;
  margin: 0;
}
.list-inline-item
{
  text-align: center;
  bottom: 0;
  margin: 0;
  
}
.info{
  text-align: center;
  bottom: 0;
  margin: 0;
  font-size: 1px;
  color:black
}
.center{
  width: 50%;
  margin:auto;
  padding: 10px;
}